@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

.typing-indicator {
  /* your styles here */
  animation: typing 1s steps(5, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}
@import "tailwindcss/utilities";
